modules = ["nodejs-20", "web"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = 46880299
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd AppleAura && npm run dev"

[[ports]]
localPort = 5000
externalPort = 80
