# Dependencias
node_modules/
*/node_modules
pnpm*.yaml

# Compilados / builds
dist/
build/
out/
tmp/
coverage/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs / editores
.vscode/
.idea/
*.swp



# Replit / Railway
.replit
.local/

# Otros
*.tgz
*.zip

# .env
